/*
*_typographie.scss
*/
p {
  margin-bottom: 2em; }

/*
* Titre
*/
h1 h2 h3 h4 h5 h6 {
  font-family: "Helvetica", sans-serif;
  color: black;
  margin-top: 0; }

hr {
  height: 2px; }

h1 {
  font-weight: bold;
  font-size: 4.6rem;
  line-height: 1.2; }

h2 {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 1.25; }

h3 {
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 1.3; }

h4 {
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 1.35; }

h5 {
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 1.5; }

h6 {
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.4; }

/**
*Blokcode & quote
*/
blockquote {
  border-left: 2px solid gray;
  color: gray;
  margin-left: 0;
  margin-right: 0;
  padding: 1% 1.5%;
  font-style: italic; }
  blockquote:before {
    color: darkgray; }

/*
* balises de texte inline
*/
b strong {
  font-weight: bold; }

del {
  color: darkred;
  text-decoration: line-through; }

u {
  text-decoration: underline; }

ins {
  color: #261e85;
  text-decoration: underline; }

small {
  font-size: 0.4em; }

pre {
  margin: 1%;
  font-family: "Arial";
  white-space: pre; }

em i {
  font-style: italic; }

abbr {
  display: inline;
  border-bottom: dotted 1px;
  text-decoration: none; }
  abbr[title] {
    cursor: help; }

.cursor-abbr {
  cursor: help; }

a {
  cursor: pointer; }
  a:hover {
    color: #606c76;
    text-decoration: none; }

/*
* Allignement et transformation de texte
*/
.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.align-justify {
  text-align: justify; }

.align-start {
  text-align: start; }

.align-end {
  text-align: end; }

.uppercase-text {
  text-transform: uppercase; }

.lowercase-text {
  text-transform: lowercase; }

/*
* Liste
*/
/**
    *La description d'une colonne
     */
/*
* repris de la source http://designerdada.com/multi-step-signup-form-using-jquery-css3/
 */
/**
*Blokcode & quote
*/
blockquote:before {
  color: darkgray; }

/*
* balises de texte inline
*/
abbr[title] {
  cursor: help; }

/*
* Allignement et transformation de texte
*/
/*
* Liste
*/
ul.circle {
  list-style: circle; }
ul.nothing {
  list-style: none; }
ul.square {
  list-style: square; }

.table {
  width: 90%;
  margin: 2%; }
  .table td, .table th {
    padding: 0.9em;
    border-bottom: 1.4px solid gray;
    text-align: center; }
  .table tr {
    padding: 0.9em;
    border-bottom: 1.4px solid gray;
    text-align: center; }
    .table tr:hover {
      background-color: purple; }
  .table thead {
    color: #04313d;
    font-weight: bolder;
    background-color: #fff; }
    .table theadth {
      font-size: 1.3em; }
    .table theadtd {
      border-bottom: 2.8px solid #485c80;
      border-left: 2.8px solid #485c80;
      border-right: 2.8px solid #485c80;
      border-top: 2.8px solid #485c80;
      font-size: 1em; }
  .table:hover {
    background-color: pink; }

.caption {
  color: gray;
  font-size: 1.8em; }

/**
* Les boutons
 */
.btn {
  font-size: 1.2rem;
  line-height: 130%;
  padding: 1% 2%;
  text-align: center;
  background-color: #0080D0;
  color: #fff;
  text-decoration: none;
  border: 1px solid #067790;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.2); }
  .btn:hover {
    background-color: #0050D0; }
  .btn:active {
    transform: translateY(4px);
    box-shadow: none;
    background-color: #0020D0; }

/**
* La taille des bouttons
*/
.btn-large {
  font-size: 1.8rem;
  line-height: 150%;
  padding: 2% 3%;
  text-align: center;
  background-color: #0080D0;
  color: #fff;
  text-decoration: none;
  border: 1px solid #067790;
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.2); }
  .btn-large:hover {
    background-color: #0050D0; }
  .btn-large:active {
    transform: translateY(4px);
    box-shadow: none;
    background-color: #0020D0; }

.btn-small {
  font-size: 0.8rem;
  line-height: 100%;
  padding: 1% 1%;
  text-align: center;
  background-color: #0080D0;
  color: #fff;
  text-decoration: none;
  border: 1px solid #067790;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.2); }
  .btn-small:hover {
    background-color: #0050D0; }
  .btn-small:active {
    transform: translateY(4px);
    box-shadow: none;
    background-color: #0020D0; }

/**
* Les couleurs
*/
.btn-red {
  font-size: 1.2rem;
  line-height: 130%;
  padding: 1% 2%;
  text-align: center;
  background-color: #B22222;
  color: #fff;
  text-decoration: none;
  border: 1px solid #067790;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.2); }
  .btn-red:hover {
    background-color: #A52A2A; }
  .btn-red:active {
    transform: translateY(4px);
    box-shadow: none;
    background-color: darkred; }

.btn-gray {
  font-size: 1.2rem;
  line-height: 130%;
  padding: 1% 2%;
  text-align: center;
  background-color: gray;
  color: #fff;
  text-decoration: none;
  border: 1px solid #067790;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.2); }
  .btn-gray:hover {
    background-color: slategray; }
  .btn-gray:active {
    transform: translateY(4px);
    box-shadow: none;
    background-color: darkslategray; }

.btn-purple {
  font-size: 1.2rem;
  line-height: 130%;
  padding: 1% 2%;
  text-align: center;
  background-color: mediumpurple;
  color: #fff;
  text-decoration: none;
  border: 1px solid #067790;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.2); }
  .btn-purple:hover {
    background-color: rebeccapurple; }
  .btn-purple:active {
    transform: translateY(4px);
    box-shadow: none;
    background-color: purple; }

/**
* L'apparence des boutons
*/
.btn-fancy {
  font-size: 20px;
  line-height: 130%;
  padding: 1% 2%;
  text-align: center;
  background-color: #fff;
  color: 1px solid #067790;
  text-decoration: none;
  border: solid #743f8a 1px;
  border-radius: 17px;
  cursor: pointer;
  display: inline-block;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.2);
  background: #d134d9;
  background-image: -webkit-linear-gradient(top, #d134d9, #2b4eb8);
  background-image: -moz-linear-gradient(top, #d134d9, #2b4eb8);
  background-image: -ms-linear-gradient(top, #d134d9, #2b4eb8);
  background-image: -o-linear-gradient(top, #d134d9, #2b4eb8);
  background-image: linear-gradient(to bottom, #d134d9, #2b4eb8);
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -webkit-box-shadow: 4px 3px 11px #ad8aad;
  -moz-box-shadow: 4px 3px 11px #ad8aad;
  box-shadow: 4px 3px 11px #ad8aad;
  font-family: Georgia;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none; }
  .btn-fancy:hover {
    background-color: #fc3cf6; }
  .btn-fancy:active {
    transform: translateY(4px);
    box-shadow: none;
    background-color: #fff; }

.btn-flat {
  font-size: 20px;
  line-height: 130%;
  padding: 1% 2%;
  text-align: center;
  background-color: #a88484;
  color: #ffffff;
  text-decoration: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 4px 3px 11px #ad8aad;
  -moz-box-shadow: 4px 3px 11px #ad8aad;
  box-shadow: 4px 3px 11px #ad8aad;
  font-family: Georgia;
  background: #a88484;
  padding: 10px 20px 10px 20px;
  text-decoration: none; }
  .btn-flat:hover {
    background-color: #9e5151; }
  .btn-flat:active {
    transform: translateY(4px);
    box-shadow: none;
    background-color: #9e5151; }

.btn-extra-large {
  font-size: 1.8rem;
  line-height: 150%;
  padding: 2% 3%;
  text-align: center;
  background-color: #0080D0;
  color: #fff;
  text-decoration: none;
  border: 1px solid #067790;
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.2);
  width: 95%;
  margin: 1% 1%;
  font-size: 1.8rem; }
  .btn-extra-large:hover {
    background-color: #0050D0; }
  .btn-extra-large:active {
    transform: translateY(4px);
    box-shadow: none;
    background-color: #0020D0; }

/**
*Les alertes
 */
.alert {
  width: 100%;
  margin: 2% 1%;
  padding: 20px;
  color: #fff;
  border-radius: 4px;
  background-color: #067790;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.2); }
  .alert:hover {
    background-color: #056378; }

.alert_danger {
  width: 100%;
  margin: 2% 1%;
  padding: 20px;
  color: #fff;
  border-radius: 4px;
  background-color: #f44336;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.2); }
  .alert_danger:hover {
    background-color: #f32c1e; }

.alert_success {
  width: 100%;
  margin: 2% 1%;
  padding: 20px;
  color: #fff;
  border-radius: 4px;
  background-color: #006700;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.2); }
  .alert_success:hover {
    background-color: #004e00; }

.alert_warning {
  width: 100%;
  margin: 2% 1%;
  padding: 20px;
  color: #fff;
  border-radius: 4px;
  background-color: orangered;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.2); }
  .alert_warning:hover {
    background-color: #e63e00; }

/**
*La navbar
 */
.navbar {
  width: 90%;
  margin: 0 5%;
  padding-left: 0;
  background-color: skyblue;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  text-align: center;
  list-style: none; }
  .navbar li {
    padding: 1% 1%;
    height: 100%;
    width: 20%;
    text-decoration: none; }
    .navbar li:hover {
      background-color: #e4edff;
      color: black; }
    .navbar li.disable {
      background-color: darkslategray; }
    .navbar li.active {
      background-color: #084f61; }
  .navbar a {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none; }
    .navbar a:hover {
      background-color: #e4edf;
      color: black; }
    .navbar a.disable {
      cursor: not-allowed;
      background-color: #e4edff; }
    .navbar a.active {
      background-color: darkslategray; }

/**
*la grille
 */
.container {
  width: 76%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 2% auto;
  background-color: #d9e6f2; }

.col-1 {
  width: 6.3333333333%;
  flex-grow: 0;
  flex-shrink: 1;
  height: 20px;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
  margin-top: 2%;
  background-color: #b3cce6; }

.col-2 {
  width: 14.6666666667%;
  flex-grow: 0;
  flex-shrink: 1;
  height: 20px;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
  margin-top: 2%;
  background-color: #b3cce6; }

.col-3 {
  width: 23%;
  flex-grow: 0;
  flex-shrink: 1;
  height: 20px;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
  margin-top: 2%;
  background-color: #b3cce6; }

.col-4 {
  width: 31.3333333333%;
  flex-grow: 0;
  flex-shrink: 1;
  height: 20px;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
  margin-top: 2%;
  background-color: #b3cce6; }

.col-5 {
  width: 39.6666666667%;
  flex-grow: 0;
  flex-shrink: 1;
  height: 20px;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
  margin-top: 2%;
  background-color: #b3cce6; }

.col-6 {
  width: 48%;
  flex-grow: 0;
  flex-shrink: 1;
  height: 20px;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
  margin-top: 2%;
  background-color: #b3cce6; }

.col-7 {
  width: 56.3333333333%;
  flex-grow: 0;
  flex-shrink: 1;
  height: 20px;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
  margin-top: 2%;
  background-color: #b3cce6; }

.col-8 {
  width: 64.6666666667%;
  flex-grow: 0;
  flex-shrink: 1;
  height: 20px;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
  margin-top: 2%;
  background-color: #b3cce6; }

.col-9 {
  width: 73%;
  flex-grow: 0;
  flex-shrink: 1;
  height: 20px;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
  margin-top: 2%;
  background-color: #b3cce6; }

.col-10 {
  width: 81.3333333333%;
  flex-grow: 0;
  flex-shrink: 1;
  height: 20px;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
  margin-top: 2%;
  background-color: #b3cce6; }

.col-11 {
  width: 89.6666666667%;
  flex-grow: 0;
  flex-shrink: 1;
  height: 20px;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
  margin-top: 2%;
  background-color: #b3cce6; }

.col-12 {
  width: 98%;
  flex-grow: 0;
  flex-shrink: 1;
  height: 20px;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
  margin-top: 2%;
  background-color: #b3cce6; }

.offset-1 {
  margin-left: 8.3333333333%; }

.offset-2 {
  margin-left: 16.6666666667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.3333333333%; }

.offset-5 {
  margin-left: 41.6666666667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.3333333333%; }

.offset-8 {
  margin-left: 66.6666666667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.3333333333%; }

.offset-11 {
  margin-left: 91.6666666667%; }

.offset-12 {
  margin-left: 100%; }

/*
* La pagination
*/
.pagination {
  display: inline-block;
  width: 100%; }
  .pagination a {
    color: black;
    float: left;
    padding: 2% 2%;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #d9e6f2;
    font-size: 15px; }
    .pagination a.active {
      background-color: #b3cce6;
      color: white;
      border: 1px solid #4CAF50; }
    .pagination a:hover:not(.active) {
      background-color: #d9e6f2; }

/*
* Le fil d'ariane
 */
.filAriane {
  overflow: hidden;
  counter-reset: step; }
  .filAriane li {
    text-align: center;
    list-style-type: none;
    color: #8b9ab0;
    text-transform: uppercase;
    font-size: 11px;
    width: 25%;
    float: left;
    position: relative;
    transition: all 1s; }
    .filAriane li.active {
      color: #b3cce6; }
      .filAriane li.active:after {
        background: #d9e6f2;
        color: white; }
      .filAriane li.active:before {
        background: #d9e6f2;
        color: white; }
    .filAriane li:before {
      content: counter(step);
      counter-increment: step;
      width: 20px;
      line-height: 20px;
      display: block;
      font-size: 10px;
      color: #333;
      background: white;
      border-radius: 3em;
      margin: 0 auto 5px auto; }
    .filAriane li:after {
      content: '';
      width: 100%;
      height: 2px;
      background: white;
      position: absolute;
      left: -50%;
      top: 9px;
      z-index: -1; }
    .filAriane li li:first-child:after {
      content: none; }

/*# sourceMappingURL=framework.css.map */
