@mixin btn($lineHeight_btn, $padding_btn, $borderRadius_btn, $fonSize_btn,$background_btn,$color_btn,$border_btn, $background_hover_btn, $background_active_btn){
  font-size: $fonSize_btn ;
  line-height: $lineHeight_btn;
  padding: $padding_btn;
  text-align: center;
  background-color: $background_btn;
  color: $color_btn;
  text-decoration: none;
  border: $border_btn ;
  border-radius: $borderRadius_btn;
  cursor: pointer;
  display: inline-block;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.2);

  &:hover{
    background-color: $background_hover_btn;
  }
  &:active{
    transform: translateY(4px);
    box-shadow: none;
    background-color: $background_active_btn;
  }
}